  <!-- /.modal -->
  <div bsModal #dangerModal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-danger" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">LISTE DES SOLDES DES CONGES</h4>
          <button type="button" class="close" (click)="dangerModal2.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p></p>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Name Column -->
            <ng-container matColumnDef="EXERCICE">
              <th mat-header-cell *matHeaderCellDef> EXERCICE </th>
              <td mat-cell *matCellDef="let element"> {{element.EXERCICE}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="SOLDE">
              <th mat-header-cell *matHeaderCellDef> SOLDE </th>
              <td mat-cell *matCellDef="let element"> {{element.SOLDE}} </td>
            </ng-container>
          

          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

        </div>
        <div class="modal-footer">

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
<!-- /.modal -->

<div class="container-fluid" id="doc">

    <div class="main-body" style="margin-left: -30px;;margin-right: -30px;">
        <form [formGroup]="user_form"   (ngSubmit)="submit()">
        <div class="row">

            <div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="">
                            
                            <!-- <div class="mt-3"> -->

                               <center>
                                   <h5>DEMANDE DE CONGE</h5>
                                   <a [routerLink]="[]" class="dropdown-item" style="color: blue;"  data-toggle="modal" (click)="dangerModal2.show()"><i class="fa fa-lock"></i> Clicker ici pour visualiser les soldes</a>
                                </center> 
                                
                                
                        </div>
                        
                        
                    </div>
                </div>
            </div>
            
            <div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="">
                            
                            <!-- <div class="mt-3"> -->

                                <h5>1. Identification</h5>
                                
                                <b>Nom et prénom : </b>{{user[0].NOM}} {{user[0].PRENOM}}<br>
                                <b>Fonction/Affectation: </b>{{user[0].DESCRIPTION_POSTE}}<br>
                                <!-- <p class="text-muted font-size-sm"><b>Roles: </b>{{roles}}</p> -->
                                <b>Matricule: </b>{{user[0].MATRICULE}}<br>
                                <b>Date d'engagement: </b>{{user[0].DATE_EMBAUCHE}}<br>
                                <b>Adresse comple durant le congé: </b>{{adresse}}<br>
                                
                                
                            <!-- </div> -->
                        </div>
                        
                        
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
           
                        
                            <h5  >2. Type de congé sollicité</h5>
                            <b>Type de congé sollicité: </b>{{type_conge}}<br>
                            <b>Exercice: </b> {{exercice}}<br> <b>Durée (nbre jours): </b> {{nombre}}<br> <b>Motif: </b> {{motif}}<br>
                           
            
                            

                   </div>
                </div>

            </div>
            <div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
           
                        
                            <h5  >3. </h5>

                            <div class="container-fluid row" >
                                <div class="col-md-12 sm-12" >
                                    Je voudrais commencer le congé le <b>{{date}}</b> pour terminer le <b>{{date1}}</b> , (les deux jours inclus)<br>
                                    Je reprendrais mes fonctions le <b>{{date2}}</b>
                                </div>
                                
                                
                                                   
                            </div>
                            <div class="container-fluid row" >
                                <div class="col-md-9 sm-12 xs-12 form-group">
                                    <b>Signature du demandeur</b>
                                    <img src='{{ signatureImg }}' width="200" />
                                </div>
                                <div class="col-md-3 sm-12 xs-12 form-group">
                                    <b>Date : </b>{{date_creation}}
                                    
                                </div>
                            </div>

                            
                     
                        
            
                   </div>
                </div>

            </div>

            <div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                      <h5  >4. </h5>
                        <div class="">
                            
                            <table  class="table table-bordered">
                                <!-- <tr><th>Solde congé annuel avant celui-ci</th><th>: bhbj</th></tr>
                                <tr><th>Solde congé annuel après celui-ci</th><th>:</th></tr>
                                <tr><th>Visa du service Ressources Humaines</th><th>:</th></tr> -->
                                <tr><th>Exercice</th><th>Solde congé annuel avant celui-ci</th><th>Solde congé annuel après celui-ci</th></tr>
                                <ng-container *ngFor="let info of array_sold">  
                                    <!-- <tr *ngIf="info.SOLDE > 0 ||info.RESTE > 0"> -->
                                        <tr>
                                      <td>{{info.EXERCICE }}</td>
                                      <td>{{info.SOLDE }}</td>
                                      <td>{{info.RESTE}}</td>
                                    </tr>
                                  </ng-container> 
                            </table>
                                                               
                        </div>
                        
                    </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <!-- <div class="container-fluid row" > -->
                            <!-- <div class="col-md-12 sm-12" > -->
                                <!-- Je voudrait commencer le congé le <b>{{date}}</b> pour terminer le <b>{{date1}}</b> , (les deux jours inclus)<br>
                                Je reprendrais mes fonctions le <b>{{date2}}</b> -->
                                <table><tr *ngFor = "let info of info_validateur; let i = index">
                                
                                  <th *ngIf="info.NIVEAU>1"> {{i+5}}. Avis & Signature - {{info.DESCRIPTION_POSTE}}</th>
                                  <td *ngIf="info.NIVEAU>1">: ...<img  *ngIf="info.SIGNATURE" [src]="  connexion.base_url+info.SIGNATURE.replace('uploads/','')" width="200" height="100"><span *ngIf="info.INTERIM==1">A.I</span><br>
                                     <span *ngIf="info.STATUT==2" style="color:red ;">{{info.COMMENT}} (Réfusé)</span> 
                                     <span *ngIf="info.STATUT==1" style="color:green ;">{{info.COMMENT}} (Accepté)</span> 
                                     ({{info.PRENOM}} {{info.NOM}} {{info.DATE_VALIDATION}})
                                    </td>
                                  
                                  <th *ngIf="info.NIVEAU==0||info.NIVEAU==1"> {{i+5}}. Décision & Signature - {{info.DESCRIPTION_POSTE}}</th>
                                  <td *ngIf="info.NIVEAU==0||info.NIVEAU==1">:  ... <img *ngIf="info.SIGNATURE" [src]=" connexion.base_url+info.SIGNATURE.replace('uploads/','')"  width="200"><span *ngIf="info.INTERIM==1">A.I</span><br>
                                    <span *ngIf="info.STATUT==2" style="color:red ;">{{info.COMMENT}} (Réfusé)</span> 
                                    <span *ngIf="info.STATUT==1" style="color:green ;">{{info.COMMENT}} (Accepté)</span>
                                    ({{info.NOM}} {{info.NOM}} {{info.DATE_VALIDATION}})
                                  </td>
                                
                                  </tr>
                                </table> 
                           
                              <!-- </div> -->
                            
                            
                                              
                        <!-- </div> -->
                      <div class="col-md-12 form-group" style="margin-top: 50px;">
          
                          <!-- <input [disabled]="" type="submit" id="submit"  class="btn btn-light active form-control" value="LANCER">   -->
                          <button type="button" (click)="pdf_vew(id_conge)"  class="btn btn-light active form-control">GENERER PDF</button>  
                      
                  </div>
                      
                  </div>
              </div>
            </div>
         
        </div>
        </form><p>
    
    </div>
</div>
