
<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12 mb-12" >
          
          
        <!-- Nav tabs -->
        <tabset>
          <tab heading="TOUS LES DEMANDES DES CONGES " style="overflow-x: scroll;">
            <!-- <a class="dropdown-item" style="color: red;"  data-toggle="modal" (click)="dangerModal1.show()"><i class="fa fa-lock"></i> Logout</a> -->
           
            <div class="col-md-12 sm-12 xs-12">

            <table datatable [dtOptions]="dtOptions_actif" class="table table-bordered" width="100%"></table>
            
            </div>
          </tab>
   

          
        </tabset>
      </div><!--/.col-->


    </div><!--/.row-->
  </div>