<div #diagramDiv class="diagramDiv" style="width: 100%; min-height: 580px;"></div>

<div class="row">
    <div class="col-md-6 mb-12" >
      <button class="btn btn-success" style="width: 100%;" (click)="save()">Enregistrer</button>
    </div>
    <div class="col-md-6 mb-12" >
      <button class="btn btn-info" style="width: 100%;" (click)="downloadImage()">Exporter Image</button>
    </div>
</div>
<!-- <div style="width: 50%;">
</div>
<div style="width: 50%;"><button class="btn btn-primary" (click)="downloadImage()" style="width: 100%;height: 30px; margin-bottom: 20px; background-color: green; color: white;" (click)="save()">Enregistrer</button></div> -->

<!-- <div class="btn btn-primary" (click)="downloadImage()">DL</div> -->
<div id="download">
    <img #canvas>
    <a #downloadLink></a>
  </div>