
    input.ng-invalid{
        border-left: 5px solid red;
        }
    
        input.ng-valid{
          border-left: 5px solid rgb(8, 233, 8);
          }
    .error{
        color: red;
    }

    .hide {
        display: none;
      }
      .inner-addon { 
          position: relative; 
      }
      .inner-addon .fas {
        position: absolute;
        padding: 10px 30px;
        z-index: 100;
        cursor: pointer;
      }
      .left-addon .fas  { left:  0px; }
      .right-addon .fas { right: 0px; }
       
      .left-addon input  { padding-left:  30px; }
      .right-addon input { padding-right: 30px; }